* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #100F19;
}


header {
    font-family: 'Fredoka', sans-serif;
    color: #E53170;
    font-size: 18px;
    text-align: center;
    padding: 20px 0;
}