* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #100F19;
}

/* Header */
header {
    font-family: 'Fredoka', sans-serif;
    color: #E53170;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
}

/* Container */
#container {
    width: 60%;
    margin: 0 auto;
}

/* Testo paragrafo */
.text {
    text-align: center;
    font-size: 13px;
    margin-bottom: 30px;
    margin-top: 40px;
    padding: 0 5px;
}

/* Righe */
.row-section:first-child {
    margin-bottom: 35px;
}

.row-section::after {
    content: '';
    display: table;
    clear: both;
}

/* Colonne */
.col-section {
    width: calc(100% / 3 - 24px);
    height: 80px;
    background-color: #0F0E17;
    float: left;
    margin: 0 12px;
}

.col-section .image, .col-section .image > img {
    height: 100%;
}

.col-section .image, .col-section .info {
    float: left;
}

.col-section .info {
    color: #fff;
    font-size: 12px;
    line-height: 20px; 
    padding: 10px;
}

.col-section .info .name {
    font-weight: bold;
}

.col-section .info a {
    color: #5AAFD2;
    text-decoration: none;
}

.col-section .info a:hover {
    color: #50CBEB;
}